.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #fff #fff #000 #fff;
    border-width: 3px;
}
.border-sec-1{
	    border-radius: 19px;
    border-color: #a57a5e;
}
.btn-mr{
	 margin-top: 24px;
    margin-left: 33%;
}
.btn-mr-1{
	margin-left: 33%;
	margin-top: 15px;
}
.bg-img{
	background-image: url("../img/login_bg.jpg");
	padding-top: 6%;
}
.bg-img-1{
	background-image: url("../img/login_bg.jpg");
	padding-top: 6%;
	background-attachment: fixed;
}
.login-fs{
	font-size: 14px;
	font-family: 'FontAwesome';

}
.border-sec{
	border-bottom: solid 1px;
	border-color: #ccc;
	width: 20px;
}
.lgfs-1{
	font-family:'Material Icons';
	background-color: #fff;
	padding-bottom: 0px;
	padding-top: 20px;
	justify-content: center; 

}
.login-mr{
	margin-right: 40px;
}
.frg-ps{
	margin-left: 59%;
	margin-bottom: 46px;
	font-size: 13px;
	text-decoration-line: underline;
}
.frg-ps:hover{
	color:#a57a5e;
}
.btn-color{
	background-color: #724528;
	border-radius: 27px
}
.btn-color:hover{
	background-color: green;
}
.btn-color-1{
	background-color: #3b5998;
	color: #fff;
	margin-left:25%;
	border-left-width: 30px;
	border-right-width: 30px;
}
.btn-color-2{
	background-color: #dd4b39;
	color: #fff;
	border-left-width: 30px;
	border-right-width: 30px;
}
.jan{
    margin-left: -14px;
}
.create{
	text-decoration-color: green;
	text-decoration: none;
}
/** media-query start **/

@media(max-width: 768px){
     .frg-ps {
	    margin-left: 29%;
	}
     .btn-color-1 {
	    margin-left: 9%;
	}
	.btn-mr-1 {
	    margin-left: 23%;
	}
}
@media(max-width: 360px){
	.btn-color {
	    border-radius: 27px;
	    margin-left: 42%;
	}
	.btn-color-1 {
	    margin-left: -1%;
	}
	.border-sec {
	    border-bottom: solid 0px;
	    border-color: #ccc;
	    width: 100%;
	}
}

